# created by virtualenv automatically
*
!/pyvenv.cfg
!/Test4/
!/Test3/
!/Test2/
!/Test/
!/share/
!/Scripts/
!/Pos_encoder_simulator/
!/Mesures_stabilite/
!/Lib/
/pyvenv.cfg
/Socket_test.py
/Documentation.txt
/Test.py
